<h1 class="httpHead">HTTP in Angular</h1>
<p>import HTTPClientModule from @angular/common/http</p>

<div>
  <textarea #jsonData cols="50" rows="10"></textarea>
  <br />
  id: <input #id type="text" />

  <br />

  <button (click)="get(id.value)">GET</button>
  <button (click)="post(jsonData.value)">POST</button>
  <button (click)="patch(id.value, jsonData.value)">PATCH</button>
  <button (click)="delete(id.value)">DELETE</button>
</div>

<pre *ngIf="data | async as dataResult; else noData">
  {{ dataResult | json }}

  <!-- <div *ngFor="let post of dataResult"></div> -->
</pre>

<ng-template #noData> no data yet... </ng-template>

<!-- {{ data | async | json }} -->

<!-- <div *ngIf="'hello is checked' as a">
  {{ a }}
</div> -->

<br />

<!-- {{ myObservable | async }} -->
